streamlit
numpy
pandas
nltk
rank-bm25
scikit-optimize
scikit-learn
tqdm
transformers
sentence-transformers
voyageai
openai
requests
langchain
anthropic
jupyter
ipykernel 
matplotlib
langchain-openai
ragas
datasets
pre-commit